@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

/* Home styles */

.home__beers-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-16;
}


/* Navbar styles */

.navbar__title {
  @apply flex flex-col items-start justify-start text-black-100;
}

.navbar__title-h1 {
  @apply text-2xl font-extrabold uppercase;
}

.navbar__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

/* Searchbar styles */
.searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full rounded-l-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}


/* BeerCard styles */
.beer-card {
  @apply flex flex-col p-6 text-black-100 bg-primary-blue-100  hover:shadow-md rounded-3xl;
}

.beer-card__content {
  @apply w-full flex-col p-3 gap-2 justify-center h-20;
}

.beer-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize text-center;
}

.beer-card__content-tagline {
  @apply text-[14px] leading-[17px] text-center p-1;
}

.beer-card__image-container {
  @apply relative w-full h-40 my-3 object-contain;
}

.beer-card__img {
  @apply w-[360px] h-[180px] object-contain;
}

.beer-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.beer-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.beer-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.beer-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}

/* BeerInfo styles */
.beer-info__content-title {
  @apply flex-1 flex flex-col gap-3;
}

.beer-info__content-h2 {
  @apply text-[22px] leading-[26px] font-bold capitalize text-center;
}

.beer-info__content-tagline {
  @apply text-[14px] leading-[17px] text-center p-1 flex-center mb-3;
}

.beer-info__content-description {
  @apply text-grey flex-center text-center;
}

.beer-info__icon-container {
  @apply mt-5 mb-5 flex flex-wrap gap-4 justify-between ;
}

.beer-info__icon {
  @apply flex justify-between gap-5 text-right;
}

.beer-info__icon-text {
  @apply text-black-100 font-semibold;
}

.beer-info__food-pairing {
  @apply text-[13px] text-grey p-2 ml-5 list-disc;
}


/* CommentsSection styles */
.comments__input {
  @apply border border-gray-300 p-2 rounded-md w-full;
}

.comments__button {
  @apply bg-blue-500 text-white px-4 py-2 rounded-md mt-5 mb-4;
}

.comments__li {
  @apply text-[13px] text-gray-600 p-4 bg-primary-blue-100 mt-2 mb-2;
}

/* AddBeerForm styles */

.add-beer-form__input {
  @apply border border-gray-300 p-2 rounded-md w-full;
}

.add-beer-form__button {
  @apply bg-blue-500 text-white px-4 py-2 rounded-md mt-5 mb-4;
}